<div class="flex flex-col text-center w-full h-full bg-gradient-to-r from-[#F3F4F6] to-[#F3F4F6]">
    <p class="font-normal text-md text-gray-700">&copy; 2025 GlobalNews. Todos los derechos reservados. | Contacto: info@globalnews.com</p>
</div>