---
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Global news | Inteligencia de medios en tiempo real</title>
	</head>
	<body>
		<slot />
	</body>
	<footer class="w-full bg-gradient-to-r from-[#F3F4F6] to-[#F3F4F6] py-4 px-2">
		<p class="font-normal text-sm sm:text-base text-gray-700 text-center break-words">
		  &copy; 2025 GlobalNews. Todos los derechos reservados.
		  <span class="block sm:inline">| Contacto: <a href="mailto:info@globalnews.com" class="underline hover:text-blue-500">info@globalnews.com</a></span>
		</p>
	  </footer>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
